# Eat Safe, Love

## Notebook Set Up

In [1]:
# Import dependencies
from pymongo import MongoClient
import pandas as pd
from pprint import pprint

In [2]:
# Create an instance of MongoClient
mongo=MongoClient(port=27017)

In [3]:
# assign the uk_food database to a variable name
db=mongo['uk_food']

In [4]:
# review the collections in our database
print(db.list_collection_names())

['establishments']

In [5]:
# assign the collection to a variable
establishments=db['establishments']

## Part 3: Exploratory Analysis
Unless otherwise stated, for each question: 
* Use `count_documents` to display the number of documents contained in the result.
* Display the first document in the results using `pprint`.
* Convert the result to a Pandas DataFrame, print the number of rows in the DataFrame, and display the first 10 rows.

### 1. Which establishments have a hygiene score equal to 20?

In [6]:
# Find the establishments with a hygiene score of 20

query ={'scores.Hygiene': 20}
field={'BusinessName':1,'scores.Hygiene':1}

# Use count_documents to display the number of documents in the result
result_count=establishments.count_documents(query)
print('establishments with a hygiene score of 20: ',result_count)

# Display the first document in the results using pprint
result1=establishments.find(query,field)
for i in range(1):
    pprint(result1[i])

establishments with a hygiene score of 20:  41
{'BusinessName': 'The Chase Rest Home',
 '_id': ObjectId('641a839e830ab488402fc767'),
 'scores': {'Hygiene': 20}}

In [7]:
# Convert the result to a Pandas DataFrame

results_df=pd.DataFrame(result1)


# Display the number of rows in the DataFrame
print("Rows in DataFrame: ", len(results_df))

# Display the first 10 rows of the DataFrame


results_df_cleaned=results_df[['BusinessName','scores']]
results_df_cleaned.head(10)

Rows in DataFrame:  41

                BusinessName           scores
0        The Chase Rest Home  {'Hygiene': 20}
1                 Brenalwood  {'Hygiene': 20}
2              Melrose Hotel  {'Hygiene': 20}
3              Seaford Pizza  {'Hygiene': 20}
4              Golden Palace  {'Hygiene': 20}
5           Ashby's Butchers  {'Hygiene': 20}
6  South Sea Express Cuisine  {'Hygiene': 20}
7              Golden Palace  {'Hygiene': 20}
8             The Tulip Tree  {'Hygiene': 20}
9                      F & S  {'Hygiene': 20}

### 2. Which establishments in London have a `RatingValue` greater than or equal to 4?

In [8]:
# Find the establishments with London as the Local Authority and has a RatingValue greater than or equal to 4.

query ={'LocalAuthorityName':{'$regex':'London'},'RatingValue':{'$gte':4}}
fields={'LocalAuthorityName':1,'RatingValue':1}


# Use count_documents to display the number of documents in the result
count_london=establishments.count_documents(query)                                       
print('number of documents: ',count_london)
# Display the first document in the results using pprint
results_london=establishments.find(query,fields)
for result_l in results_london:
    pprint(results_london[0])

number of documents:  0

In [9]:
# Convert the result to a Pandas DataFrame
london_df=pd.DataFrame(results_london)


# Display the number of rows in the DataFrame
len(london_df)
# Display the first 10 rows of the DataFrame
london_df.head(10)

Empty DataFrame
Columns: []
Index: []

### 3. What are the top 5 establishments with a `RatingValue` rating value of '5', sorted by lowest hygiene score, nearest to the new restaurant added, "Penang Flavours"?

In [10]:
# Search within 0.01 degree on either side of the latitude and longitude.
# Rating value must equal 5
# Sort by hygiene score

degree_search = 0.01
latitude = {'$gte': (51.490142 - degree_search) ,'$lte': (51.490142 + degree_search)} 
longitude = {'$gte': (0.08384 - degree_search) ,'$lte': (0.08384 + degree_search)}

query = {'geocode.latitude':latitude,'geocode.latitude':longitude,'RatingValue':5}
sort =  [('scores.Hygiene',1)]
limit=5

# Print the results

near_penang= list(establishments.find(query).sort(sort).limit(limit))
pprint(near_penang)

[]

In [11]:
# Convert result to Pandas DataFrame
near_penang_df=pd.DataFrame(near_penang)
near_penang

[]

### 4. How many establishments in each Local Authority area have a hygiene score of 0?

In [13]:
# Create a pipeline that: 
# 1. Matches establishments with a hygiene score of 0
match_query={'$match':{'score.Hygiene':0}}

# 2. Groups the matches by Local Authority
query={'$group':{'LocalAuthorityName':'$LocalAuthorityName','count': { '$sum': 1 }}}

# 3. Sorts the matches from highest to lowest
sort={'$sort': {'count':-1}}

pipeline=[match_query,query,sort]

# Print the number of documents in the result
re=list(establishments.aggregate(pipeline)
        
# print("Number of documents in result: ", len(re))
        
# Print the first 10 results
for i in range(10):
        pprint(re[i])

SyntaxError: invalid syntax (1587755206.py, line 19)

In [14]:
# Convert the result to a Pandas DataFrame

no_hygiene_df=pd.DataFrame(re)

# Display the number of rows in the DataFrame
nh_rows=len(no_hygiene_df)
nh_rows

# Display the first 10 rows of the DataFrame
no_hygiene_df.head(10)

NameError: name 're' is not defined